---
---

@import "{{ site.theme }}";

html, body {
    font-size: 17px;
}

h1, h2, h3, h4, h5, h6 {
    margin: 20px 0 10px;
}

code {
    font-size: 75%;
}

pre code {
    font-size: 120%;
}

#main_content {
    padding-top: 20px;
}

/* Style the breadcrumbs list */
ul.breadcrumbs {
    padding: 10px 0;
    list-style: none;

    /* Display list items side by side */
    li {
        display: inline;
        font-size: 18px;
    }
    /* Add a right carrot symbol (>) before/behind each list item */
    li + li:before {
        padding: 8px;
        content: "\003e";
    }
}

img {
    border: 0;
    box-shadow: none;
    -webkit-box-shadow: none;
    max-width: 100%;
    height: auto;
}