---
layout: default
---

<ul class="breadcrumbs">
    <li><a href="/">Home</a></li>
    <li>Blog</li>
    <li>{{ page.title }}</li>
</ul>

<h1>{{ page.title }}</h1>

{% if page.image %}
<img src="{{ page.image.path }}" {% if page.image.width %}width="{{ page.image.width }}" {% endif %} {% if
    page.image.height %}height="{{ page.image.height }}" {% endif %} alt="{{ page.image.alt }}" />
{% if page.image.credit %}
<div class="image-credit">{{ page.image.credit }}</div>
{% endif %}
{% endif %}
{{ content }}